$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$background: linear-gradient(90deg, #d5ebf4, #71d0fc );
$keyboard-btn-color: #7698d6;
$keyboard-btn-hover: #b2cbf8;
$white: #fff;
$highlight: #abb8d1;
$green: #5cb624;
$orange: #f0b40e;
$gray: #787b82;
$keyboard-gray: #a1c1f7;
$keyboard-highlight: #b2cbf8;
$letter-background: #fbfcff;
$letter-border: #dee1e9;
$rules-btn-color: #7698d6;
