body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: linear-gradient(100deg, #9cffa9, #71d0fc); */
}
.container{
    margin: auto;
}
.grid-container {
    /* width:410px; */
    width: 25em;
    height: 34em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(6, 70px);
    /* background-color: rgb(189, 197, 197); */
    gap: 1em;
    padding: 10px;
    border-radius: 10px;
}

.letter-box {
    background-color: #fbfcff;
    /* width: 1.7em;
    height: 1.7em; */
    text-align: center;
    padding: 10px 0;
    /* font-size: 30px; */
    font-size: 1.75em;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid rgb(172, 169, 169);
}
.white-font {
    color: #fff;
    font-weight: 600;
}
.row {
    display: flex;
    width: 28em;
    margin: auto;
    justify-content: space-between;
}

.keyboard-btn {
    margin: 3px;
    background-color: rgb(189, 197, 197);
}

.green {
    background-color: #79b851;
}

.orange {
    background-color: #f3c237;
}

.gray {
    background-color: #c1c3c9;
}

#refresh {
    display: block;
    margin: auto;
    background-color: rgb(189, 197, 197);
}

.hide {
    display: none;
}

#winning-status {
    display: none;
    position: relative;
    font-size: 1em;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
    position: absolute;
    top: 42%;
    left: 44%;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animate {
    animation: pop-up 1s ease-out forwards;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
