body {
    text-align: center;
}

.grid-container {
    width:460px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(6, 80px);
    background-color: rgb(189, 197, 197);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.letter-box {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.letter-box > p {
    width: 40px;
    height: 40px;
}

.keyboard-btn {
    margin: 3px;
    background-color: rgb(189, 197, 197);
}

.green{
    background-color: #79b851;
}
.orange{
    background-color: #f3c237;
}
.gray {
    background-color: #dee1e9;
}
#refresh{
    display: block;
    margin: auto;
    background-color: rgb(189, 197, 197);
}